<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>AWAKENED</title>
</head>
<body>
    <div class="main flex flex-column align-cent">
        <div id="display-room" class="text-center">          
                {% for bit in room.content.split("/") %}
                    {{bit}}<br><br>
                {% endfor %}
        </div>
        <form autocomplete="off" id="decisionForm"  class="align-cent flex" onsubmit="event.preventDefault(); handleSubmit(this);">
            <p class="decision-arrow">></p>
            <input autofocus type="text" name="decision" id="decision">
        </form>
        <div id="decisionError">

        </div>
        <input type="hidden" id="saveId" name="saveId" value="{{session['save_id']|int}}">
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" async></script>
    <script type="text/javascript" src="{{ url_for('static', filename='timer.js') }}" async></script>
</body>
</html>