<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>AWAKENED Registration/Login</title>
</head>
<body>
    <header class="text-center">AWAKENED</header>
    <p class="text-center">Cognizance is Freedom</p>
    <div class="flex flex-column">
        <div class="main">
            <div class="register">
                <h1 class="text-center">Register</h1>
                <form action="/register" method="post">
                    <div class="fgroup">
                        <label for="username">Username:</label>
                        <input class="color-black" type="text" name="username" id="username">
                    </div>
                    {% with register_errors = get_flashed_messages(category_filter=["username"]) %}
                        {% if register_errors %}
                            <div>
                                {% for message in register_errors %}
                                    <p class="alert">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith%}
                    <div class="fgroup">
                        <label for="email">Email:</label>
                        <input class="color-black" type="email" name="email" id="email">
                    </div>
                    {% with register_errors = get_flashed_messages(category_filter=["email"]) %}
                        {% if register_errors %}
                            <div>
                                {% for message in register_errors %}
                                    <p class="alert">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith%}
                    <div class="fgroup">
                        <label for="password">Password:</label>
                        <input class="color-black pass-font" type="password" name="password" id="password">
                    </div>
                    {% with register_errors = get_flashed_messages(category_filter=["password"]) %}
                        {% if register_errors %}
                            <div>
                                {% for message in register_errors %}
                                    <p class="alert">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith%}
                    <div class="fgroup">
                        <label for="confirm_pass">Confirm Password:</label>
                        <input class="color-black pass-font" type="password" name="confirm_pass" id="confirm_pass">
                    </div>
                    {% with register_errors = get_flashed_messages(category_filter=["confirm_pass"]) %}
                        {% if register_errors %}
                            <div>
                                {% for message in register_errors %}
                                    <p class="alert">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith%}
                    <div class="fgroup">
                        <input class="color-black submit-btn" type="submit" value="Create Account">
                    </div>
                </form>
            </div>
            <div class="login">
                <h1 class="text-center">Login</h1>
                <form action="/login" method="post">
                    <div class="fgroup">
                        <label for="email">Email:</label>
                        <input class="color-black" type="text" name="email" id="email">
                    </div>
                    <div class="fgroup">
                        <label for="password">Password:</label>
                        <input class="color-black pass-font" type="password" name="password" id="password">
                    </div>
                    {% with login_errors = get_flashed_messages(category_filter=["login"]) %}
                        {% if login_errors %}
                            <div>
                                {% for message in login_errors %}
                                    <p class="alert">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith%}
                    <div class="fgroup">
                        <input class="color-black submit-btn" type="submit" value="Continue the story">
                    </div>
                </form>
            </div>
        </div>
        <footer class="text-center">'November' font by Brandon Schoepf (C)2000 Tepid Monkey Fonts</footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>