<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Your Saves</title>
</head>
<body>
    <div class="main flex flex-column align-cent">
        <header class="text-center">Welcome, {{username}}</header>
        <div class="saves">
            {% for save in saves %}
                <div class="save flex align-cent">
                    <div class="save-info">
                        <p>{{ save.name }}</p>
                        <p>Location: {{ save.current_location }}</p>
                        <p>Play time: {{ save.updated_at - save.created_at }}</p>
                    </div>
                    <form action="/select_save" method="post">
                        <input type="hidden" name="save_id" value="{{save.id}}">
                        <button class="btn-select-save">Continue</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div id="new-save-form">
            
        </div>
        <button class="btn-save color-black" onclick="new_save(this)">New Save</button>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>